<a class="list-group-item message-list" href="#mailboxes/{{mid}}/folders/{{folder_id}}/threads/{{thread_id}}"data-mid={{mid}} data-folder={{folder_id}} data-thread=""{{thread_id}}>
    <span class="name" style="min-width: 120px;display: inline-block;margin-right: 20px">
        {{sender_email}}
    </span>
    <span class="">{{subject}}</span>
    <span class="text-muted" style="font-size: 11px;"></span>
    <span class="badge">{{ date_updated}}</span>
    <span class="pull-right">
        <span class="glyphicon glyphicon-paperclip"></span>
    </span>
</a>